.title-card{
  width: 415px;
  padding: 10px 30px;
  position: absolute;
  font-size: 0.7em;
  text-align: center;
  color: white;
  background-repeat: repeat-y;
  background-image: url("/assets/sign-middle.svg");
}
.title-card::before {
  width: 447px;
  height: 15px;
  top: -10px;
  left: 14px;
  position: absolute;
  content: "";
  background-image: url(/assets/sign-top.svg);
}
.title-card::after {
  width: 447px;
  height: 15px;
  bottom: -10px;
  left: 14px;
  position: absolute;
  content: "";
  background-image: url(/assets/sign-bottom.svg);
}
.instructions {
  width: 340px;
  height: 34px;
  margin-left: 60px;
  background-image: url("/assets/instructions.svg");
  position: absolute;
}
