<div class="background" [style.left] ="position.x + 'px'" [style.width]="'7000px'">
  <div class="floor"></div>
  <title-card left=400></title-card>
  <bush left=300 size="large"></bush>
  <bush left=700 size="small"></bush>
  <floating-text left=1500 top=230 text={{introText}}></floating-text>
  <bush left=1800 size="small"></bush>
  <vertical-bar-chart left=2400 bottom=550 [data]="data" title="Languages"></vertical-bar-chart>
  <bush left=3100 size="larger"></bush>
  <horizontal-bar-chart left=3300 bottom=150 [data]="data" title="Other Stuff"></horizontal-bar-chart>
  <bush left=4000 size="large"></bush>
  <video-box left=4200 youTubeId="fVwQSkW5kC0" bottom=200></video-box>
  <floating-text left=5200 top=230 text={{introText}}></floating-text>
</div>