<div class="background" [style.left] ="position.x + 'px'" [style.width]="'7000px'">
  <div class="floor"></div>
  <title-card left=400 [role]="role"></title-card>
  <bush left=300 size="large"></bush>
  <bush left=700 size="small"></bush>
  <floating-text left=1500 top=230 text={{introText}}></floating-text>
  <bush left=1800 size="small"></bush>
  <vertical-bar-chart left=2400 bottom=550 [data]="data" title="Languages"></vertical-bar-chart>
  <bush left=3100 size="larger"></bush>
  <floating-text left=3300 top=130 text={{introText}} design="block-border"></floating-text>
  <horizontal-bar-chart left=4100 bottom=150 [data]="data" title="Other Stuff"></horizontal-bar-chart>
  <bush left=4600 size="large"></bush>
  <video-box left=4900 youTubeId="fVwQSkW5kC0" bottom=200></video-box>
  <bush left=5600 size="small"></bush>
  <level-end left=5900></level-end>
</div>