.background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.floor {
  width: 100%;
  height: 64px;
  background-image: url("/assets/floor.svg");
  background-color: brown;
  bottom: 0px;
  position: absolute;
}
