.score-bar {
  width: 100%;
  top: 0;
  position: absolute;
}

h3 {
  width: 33%;
  display: block;
  font-size: 0.7em;
  float: left;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center
}
