.character {
  width: 64px;
  height: 64px;
  background-image: url("/assets/woman-standing.svg");
  position: absolute;
  transition: bottom .2s linear;
}

.character.moving {
  background-image: url("/assets/woman-running.svg");
}

.direction-left {
  transform: scaleX(-1);
}
