.floating-text {
  width: 500px;
  height: auto;
  position: absolute;
}

.block-topbottom {
  background-color: #008fd5;
}

.block-topbottom:before,
.block-topbottom:after {
  content: "";
  display: block;
  height: 64px;
  width: 512px;
  background-image: url('/assets/block.svg');
}

.block-border {
  background: url(/assets/block-border.svg) no-repeat #008fd5;
  padding: 64px;
  width: 600px;
  height: auto;
  position: absolute;
}