<div class="distance"
     [style.left]="position.x + 'px'"
     [style.width]="'7000px'">

  <div class="logo"></div>
  <div class="sky"></div>
  <shard left=1100></shard>
  <bush left=1800 bottom=-30 size="larger"></bush>
  <london-bridge left=3200></london-bridge>
  <cloud left=800 top=80></cloud>
  <cloud left=600 top=60></cloud>
  <cloud left=1200 top=90></cloud>
  <cloud left=1850 top=275></cloud>
  <cloud left=2750 top=175></cloud>
  <cloud left=2950 top=75></cloud>
  <cloud left=4450 top=175></cloud>
  <cloud left=4650 top=75></cloud>

</div>
