.bush {
  height:64px;
  position: absolute;
}
.bush.small {
  width: 128px;
  background-image: url("/assets/bush-2.svg");
}
.bush.large {
  width: 256px;
  background-image: url("/assets/bush-4.svg");
}