.bush {
  height: 64px;
  position: absolute;
}
.bush.small {
  width: 128px;
  background-image: url("/assets/bush-2.svg");
}
.bush.large {
  width: 256px;
  background-image: url("/assets/bush-4.svg");
}
.bush.larger {
  width: 320px;
  height: 140px;
  background-image: url("/assets/bush-1.svg");
}
