.level-end{
  position: absolute;
  width: 800px;
  height: 800px;
}

.flag-pole {
  width: 95px;
  height: 500px;
  background: url(/assets/flag-pole.svg) no-repeat;
  bottom: 0px;
  position: absolute;
}
.castle {
  width: 500px;
  height: 300px;
  background: url(/assets/castle.svg) no-repeat;
  bottom: 0px;
  position: absolute;
  left: 200px;
}